<div class="main-nav main-explore">
  <div class="menu-button" style="background: #1996D4; width: 56px;">
    <span class="three-bar" title="Menu">&#9776;</span>
  </div>
  <div class="left left-explore">
    <div>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
        <rect x="28" y="47" width="28.5" height="2.3"/>
        <rect x="28" y="54.1" width="28.5" height="2.3"/>
        <path d="M66.2,65.9H18.4V18.1h38.5l9.4,9.3V65.9z M20.7,63.6h43.1V28.4l-8-7.9l0,16.9l-27.8,0l0-16.9h-7.3V63.6z M51.4,20.5h-7.1v13
          h7.1V20.5z"/>
      </svg>
    </div>

    <div>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
        <g>
          <path fill="#878787" d="M19.9,63.9h2.8V43.5c0-13.3,11.1-24.2,24.7-24.2s24.7,10.8,24.7,24.2c0,6.5-2.6,12.6-7.4,17.2l2,2
            c5.3-5.1,8.2-11.9,8.2-19.2c0-14.9-12.3-27-27.5-27c-15.2,0-27.5,12.1-27.5,27V63.9z"/>
          <g>
            <polygon fill="#878787" points="32.9,54.6 30.8,52.7 21.3,62.8 11.9,52.7 9.8,54.6 21.3,67    "/>
          </g>
        </g>
      </svg>
    </div>

    <div>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
        <g>
          <path fill="#878787" d="M64.7,64.4h-2.8V44c0-13.3-11.1-24.2-24.7-24.2S12.4,30.7,12.4,44c0,6.5,2.6,12.6,7.4,17.2l-2,2
            C12.5,58.2,9.6,51.3,9.6,44c0-14.9,12.3-27,27.5-27c15.2,0,27.5,12.1,27.5,27V64.4z"/>
          <g>
            <polygon fill="#878787" points="51.7,55.1 53.8,53.2 63.2,63.4 72.7,53.2 74.8,55.1 63.2,67.5     "/>
          </g>
        </g>
      </svg>
    </div>
    
    <div>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
        <g>
          <circle cx="55.6" cy="28.8" r="5.4"/>
          <circle cx="28.7" cy="42.2" r="5.4"/>
          <circle cx="55.6" cy="56.3" r="5.4"/>
          <rect x="41.3" y="20.5" transform="matrix(0.4464 0.8948 -0.8948 0.4464 55.0691 -18.1035)" width="1.7" height="30"/>
          <rect x="41.3" y="34.6" transform="matrix(0.4464 -0.8948 0.8948 0.4464 -21.0624 65.2013)" width="1.7" height="30"/>
        </g>
      </svg>
    </div>
  </div>
  <div class="center center-explore">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 56.7 56.7" enable-background="new 0 0 56.7 56.7" xml:space="preserve">
      <g>
        <g>
          <path fill="#2199D6" d="M25.7,48.2c-10,0-18.2-8.1-18.2-18.2c0-10,8.1-18.2,18.2-18.2s18.2,8.1,18.2,18.2
            C43.9,40.1,35.8,48.2,25.7,48.2z M25.7,16.1c-7.7,0-13.9,6.2-13.9,13.9S18.1,44,25.7,44s13.9-6.2,13.9-13.9S33.4,16.1,25.7,16.1z"
            />
        </g>
        <g>
          <polygon fill="#2199D6" points="52.3,35 48,35 48,7.3 19,7.3 19,3.1 52.3,3.1     "/>
        </g>
        <g>
          <polygon fill="#2199D6" points="15.3,53.6 2.2,53.6 2.2,38.7 3.2,38.7 3.2,52.6 15.3,52.6     "/>
        </g>
        <g>
          <path fill="#2199D6" d="M17.1,41.1c-1.3,0-2.4-1.1-2.4-2.4c0-1.3,1.1-2.4,2.4-2.4s2.4,1.1,2.4,2.4C19.5,40,18.4,41.1,17.1,41.1z
             M17.1,37.3c-0.7,0-1.3,0.6-1.3,1.3c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3C18.5,37.9,17.9,37.3,17.1,37.3z"/>
        </g>
        <g>
          <path fill="#2199D6" d="M33.8,32.8c-4.5,0-8.1-3.6-8.1-8.1s3.6-8.1,8.1-8.1c4.5,0,8.1,3.6,8.1,8.1S38.2,32.8,33.8,32.8z
             M33.8,20.8c-2.1,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9s3.9-1.7,3.9-3.9S35.9,20.8,33.8,20.8z"/>
        </g>
      </g>
    </svg>

    DISNEY FLIGHTS OUT POST ZERO EXPLOR... <span>&#x25BE;</span>
  </div>
  <div class="right right-explore">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
      <path fill="#E3E3E2" d="M42.5,75.1l-6.2-29.2H23.4l0.8-1.8c0.5-1.2,4.7-10.9,9.7-12.4V18.3c-2.3-0.8-5.5-3.1-6-8.1l-0.1-1.4h29.5
        l-0.1,1.4c-0.5,5-3.7,7.3-6,8.1v13.4c5,1.5,9.2,11.2,9.7,12.4l0.8,1.8H48.7L42.5,75.1z M27.4,43.3h11l4.1,19.3l4.1-19.3h11
        c-2.1-4.3-5.4-9.2-7.8-9.2h-1.3V16.2l1.1-0.2c0.2,0,3.6-0.7,4.7-4.7H30.7c1.1,4.1,4.6,4.7,4.7,4.7l1.1,0.2v17.9h-1.3
        C32.8,34.1,29.5,39,27.4,43.3z"/>
    </svg>

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
      <g>
        <circle fill="#E3E2E2" cx="42.5" cy="29.8" r="10.4"/>
        <path fill="#E3E2E2" d="M63,63.8c0-11.2-9.1-20.3-20.3-20.3s-20.3,9.1-20.3,20.3c0,0,15,9.7,20.3,9.3C47.9,72.7,60.7,68,63,63.8"/>
        <path fill="#E2E1E1" d="M42.7,73.1c-17.3,0-31.4-14.1-31.4-31.4c0-17.3,14.1-31.4,31.4-31.4s31.4,14.1,31.4,31.4
          C74.1,59,60,73.1,42.7,73.1z M42.7,12.9c-15.9,0-28.8,12.9-28.8,28.8c0,15.9,12.9,28.8,28.8,28.8s28.8-12.9,28.8-28.8
          C71.5,25.8,58.6,12.9,42.7,12.9z"/>
      </g>
    </svg>
    
    <span class="username">Angela Schmidt</span>

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
      <g>
        <path fill="#E3E3E2" d="M42.3,74.1C25,74.1,10.8,60,10.8,42.6c0-17.4,14.1-31.5,31.5-31.5s31.5,14.1,31.5,31.5
          C73.8,60,59.7,74.1,42.3,74.1z M42.3,13.6c-16,0-29,13-29,29c0,16,13,29,29,29s29-13,29-29C71.3,26.6,58.3,13.6,42.3,13.6z"/>
        <g>
          <g>
            <path fill="#E3E3E2" d="M39.8,48l-0.1-1.1c-0.2-2.2,0.5-4.6,2.5-7.1c1.8-2.2,2.9-3.8,2.9-5.6c0-2.1-1.3-3.5-3.9-3.5
              c-1.5,0-3.1,0.5-4.1,1.3l-1-2.6c1.3-1,3.7-1.6,5.8-1.6c4.7,0,6.8,2.9,6.8,6c0,2.8-1.5,4.8-3.5,7.1c-1.8,2.1-2.4,3.9-2.3,6l0,1.1
              H39.8z M38.9,53.7c0-1.5,1-2.6,2.4-2.6s2.4,1.1,2.4,2.6c0,1.4-0.9,2.5-2.4,2.5C39.9,56.2,38.9,55.1,38.9,53.7z"/>
          </g>
        </g>
      </g>
    </svg>
    
  </div>
</div>

<div class="upgrade-bar upgrade-explore">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
    <g>
      <path fill="#E3E2E2" d="M33.9,59.4c-6.7,0-12.1-5.4-12.1-12.1s5.4-12.1,12.1-12.1c0,0-0.1-9.8,9.3-10c9.5-0.2,9.7,10,9.7,10
        c6.7,1,9.1,5.4,9.1,12.1S56.7,59.4,50,59.4H33.9z"/>
      <path fill="#E3E3E2" d="M42,73.8c-17.4,0-31.5-14.1-31.5-31.5c0-17.4,14.1-31.5,31.5-31.5s31.5,14.1,31.5,31.5
        C73.5,59.7,59.3,73.8,42,73.8z M42,13.4c-16,0-29,13-29,29c0,16,13,29,29,29s29-13,29-29C70.9,26.3,57.9,13.4,42,13.4z"/>
    </g>
  </svg>
  <p>Upgrade Now</p>    
</div>

<div class="suggestion-bar">
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <text transform="matrix(1 0 0 1 44.6779 48.6201)" fill="#858287" font-family="'MyriadPro-Regular'" font-size="48">177</text>
    <g>
      <text transform="matrix(1 0 0 1 44.6775 76.787)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">is the </tspan><tspan x="36.6" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15">total </tspan><tspan x="68.7" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">participant</tspan><tspan x="137.2" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15"> </tspan><tspan x="140.3" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">under </tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">type </tspan><tspan x="31.3" y="18" fill="#5DC1F3" font-family="'MyriadPro-Regular'" font-size="15">B </tspan><tspan x="42.6" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">stress</tspan></text>
    </g>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <rect x="131" y="70.3" fill="#95C120" width="77.7" height="6.3"/>
    <rect x="131" y="55" fill="#5CC1F4" width="89.7" height="6.3"/>
    <text transform="matrix(1 0 0 1 47.6667 61.3333)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">Factor  X</text>
    <text transform="matrix(1 0 0 1 47.6668 78.3333)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">Factor  Y</text>
    <text transform="matrix(1 0 0 1 47.6665 37)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">Factor X over Y</text>
    <text transform="matrix(1 0 0 1 243.3332 61.3333)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">137</text>
    <text transform="matrix(1 0 0 1 242.9998 76.667)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">126</text>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <text transform="matrix(1 0 0 1 37 50.5001)" fill="#858287" font-family="'MyriadPro-Regular'" font-size="48">0.00</text>
    <text transform="matrix(1 0 0 1 39 74.1664)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">is the </tspan><tspan x="36.6" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15">lowest</tspan><tspan x="77.8" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15"> complaint number </tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">for </tspan><tspan x="20.7" y="18" fill="#5DC1F3" font-family="'MyriadPro-Regular'" font-size="15">participants</tspan></text>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <rect x="130.2" y="62" fill="#95C120" width="77.7" height="6.3"/>
    <rect x="130.2" y="46.7" fill="#5CC1F4" width="89.7" height="6.3"/>
    <rect x="129.5" y="79.3" fill="#5CC1F4" width="89.7" height="6.3"/>
    <text transform="matrix(1 0 0 1 46.6714 29.6664)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor X over Y</text>
    <text transform="matrix(1 0 0 1 47.671 53.5)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor X</text>
    <text transform="matrix(1 0 0 1 47.671 70.667)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor Y</text>
    <text transform="matrix(1 0 0 1 47.6711 87.0003)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor X</text>
    <text transform="matrix(1 0 0 1 242.0043 53.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">137</text>
    <text transform="matrix(1 0 0 1 242.0048 68.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">126</text>
    <text transform="matrix(1 0 0 1 242.0046 87.0004)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">137</text>
  </svg>

  <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <rect x="123.8" y="22.7" fill="#5CC1F4" width="42.3" height="60.7"/>
    <rect x="171.5" y="52.7" fill="#95C11F" width="43" height="30"/>
    <rect x="219.8" y="78.8" fill="#5CC1F4" width="43" height="4"/>
    <text transform="matrix(1 0 0 1 42.3381 31.6671)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Participant</tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">reaction </tspan><tspan x="0" y="36" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">rate:</tspan></text>
    <text transform="matrix(1 0 0 1 137.0048 17.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="10">IND</text>
    <text transform="matrix(1 0 0 1 184.0048 48.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="10">DET</text>
    <text transform="matrix(1 0 0 1 232.0048 74.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="10">TEN</text>
    <g>
      <text transform="matrix(1 0 0 1 123.8333 95.6671)" fill="#83857F" font-family="'MyriadPro-Regular'" font-size="12">Highest</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 172.5002 95.6671)" fill="#83857F" font-family="'MyriadPro-Regular'" font-size="12">Median</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 220.8336 95.6672)" fill="#83857F" font-family="'MyriadPro-Regular'" font-size="12">Lowest</text>
    </g>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 120 107" enable-background="new 0 0 120 107" xml:space="preserve">
    <text transform="matrix(1 0 0 1 11.2505 47.9445)" fill="#858287" font-family="'MyriadPro-Regular'" font-size="48">16</text>
    <g>
      <text transform="matrix(1 0 0 1 11.25 76.1114)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">is the Highest </tspan><tspan x="100" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15">Fumble</tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Chiefs</tspan></text>
    </g>
    <rect x="95" opacity="0.7" fill="#83857F" width="41.1" height="107"/>
    <line fill="none" stroke="#888889" stroke-miterlimit="10" x1="97.1" y1="43.3" x2="105" y2="54.6"/>
    <line fill="none" stroke="#888889" stroke-miterlimit="10" x1="95.6" y1="64.5" x2="105" y2="54.2"/>
  </svg>
</div>

<div class="explore-main">
  <h3>Where did <span style="color: #3F9DD5">people</span> at <span style="color: #3F9DD5">Disney</span> during infectious period go next?</h3>  


  <svg version="1.1" class="graph" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 800 350" enable-background="new 0 0 800 350" xml:space="preserve">
    <rect x="80.7" y="40.3" fill="none" stroke="#E0E0E0" stroke-miterlimit="10" width="694.5" height="250"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="80.7" y1="78" x2="775.2" y2="78"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="80.7" y1="113.5" x2="775.2" y2="113.5"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="80.7" y1="149.3" x2="775.2" y2="149.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="80.7" y1="184.8" x2="775.2" y2="184.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="80.7" y1="219" x2="775.2" y2="219"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="80.7" y1="254.5" x2="775.2" y2="254.5"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="386.7" y1="40.3" x2="386.7" y2="290.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="346" y1="40.3" x2="346" y2="290.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="468.6" y1="40.3" x2="468.6" y2="290.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="428" y1="40.3" x2="428" y2="290.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="549" y1="39.8" x2="549" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="508.3" y1="39.8" x2="508.3" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="630.5" y1="39.8" x2="630.5" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="589.8" y1="39.8" x2="589.8" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="589.7" y1="39.8" x2="589.7" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="549" y1="39.8" x2="549" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="671.2" y1="39.8" x2="671.2" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="630.5" y1="39.8" x2="630.5" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="224.7" y1="39.3" x2="224.7" y2="289.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="184" y1="39.3" x2="184" y2="289.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="306.2" y1="39.3" x2="306.2" y2="289.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="265.5" y1="39.3" x2="265.5" y2="289.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="142.2" y1="39.8" x2="142.2" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="101.5" y1="39.8" x2="101.5" y2="289.8"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="753.5" y1="39.3" x2="753.5" y2="289.3"/>
    <line fill="none" stroke="#EFEFEF" stroke-miterlimit="10" x1="712.8" y1="39.3" x2="712.8" y2="289.3"/>
    <rect x="101.5" y="184.8" fill="#58B3DF" width="40.7" height="105.1"/>
    <rect x="184" y="232.8" fill="#58B3DF" width="40.7" height="57.1"/>
    <rect x="346" y="254.3" fill="#58B3DF" width="40.7" height="35.6"/>
    <rect x="265.8" y="100.8" fill="#58B3DF" width="44.5" height="189.1"/>
    <rect x="507.2" y="113.9" fill="#58B3DF" width="41.8" height="175.9"/>
    <rect x="589.7" y="193.8" fill="#58B3DF" width="41.8" height="96"/>
    <rect x="671.2" y="140.5" fill="#58B3DF" width="41.8" height="149.3"/>
    <rect x="428" y="155" fill="#58B3DF" width="41.8" height="134.8"/>
    <g>
      <text transform="matrix(1 0 0 1 107.5 304.3333)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Austin</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 189.5 304.3333)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Atlanta</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 270.5 304.3337)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Denver</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 351.0833 304.3337)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Chicago</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 427.9531 305.333)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">New York</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 517.2864 304.334)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Dallas</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 596 304.3341)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Albany</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 667.1198 305.333)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">Philidelphia</text>
    </g>
    <text transform="matrix(1 0 0 1 395.7865 325.333)" fill="#767474" font-family="'HelvNeueforIBM-Bold'" font-size="12">Destination</text>
    <text transform="matrix(4.489659e-011 -1 1 4.489659e-011 38.4533 210.999)" fill="#767474" font-family="'HelvNeueforIBM-Bold'" font-size="14">No. of People</text>
    <g>
      <text transform="matrix(1 0 0 1 65.5 291.6671)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">0</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 61.1667 258.0004)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">10</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 60.1663 222.0005)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">20</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 59.8337 186.8341)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">30</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 58.5003 153.1674)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">40</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 59.5 117.1674)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">50</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 58.5003 82.1674)" fill="#767474" font-family="'HelvNeueforIBM-Light'" font-size="10">60</text>
    </g>
  </svg>

    <svg version="1.1" class="side-explore" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 290 335" enable-background="new 0 0 290 335" xml:space="preserve">
    <g id="Your_Icon">
      <g>
        <path fill="none" stroke="#59B2DE" stroke-miterlimit="10" d="M242.5,14.6l-1.1-0.4c-0.1,0-0.2-0.1-0.3-0.2c0,0,0,0,0,0
          c0-0.1,0-0.2,0-0.3l0.5-1c0.2-0.4,0.1-0.9-0.2-1.2l-1.4-1.4c-0.3-0.3-0.8-0.4-1.2-0.2l-1,0.5c-0.1,0.1-0.2,0.1-0.3,0c0,0,0,0,0,0
          c-0.1,0-0.2-0.1-0.2-0.2L236.9,9c-0.2-0.4-0.6-0.7-1-0.7h-1.9c-0.5,0-0.9,0.3-1,0.7l-0.4,1.1c0,0.1-0.1,0.2-0.2,0.3
          c-0.1,0-0.2,0-0.3,0l-1-0.5c-0.4-0.2-0.9-0.1-1.2,0.2l-1.4,1.4c-0.3,0.3-0.4,0.8-0.2,1.2l0.5,1c0.1,0.1,0.1,0.2,0,0.3c0,0,0,0,0,0
          c0,0.1-0.1,0.2-0.3,0.2l-1.1,0.4c-0.4,0.2-0.7,0.6-0.7,1v1.9c0,0.5,0.3,0.9,0.7,1l1.1,0.4c0.1,0,0.2,0.1,0.2,0.2c0,0,0,0,0,0
          c0,0.1,0,0.2,0,0.3l-0.5,1c-0.2,0.4-0.1,0.9,0.2,1.2l1.4,1.4c0.3,0.3,0.8,0.4,1.2,0.2l1-0.5c0.1-0.1,0.2-0.1,0.3,0c0,0,0,0,0,0
          c0.1,0,0.2,0.1,0.2,0.3l0.4,1.1c0.2,0.4,0.6,0.7,1,0.7h1.9c0.5,0,0.9-0.3,1-0.7l0.4-1c0-0.1,0.1-0.2,0.2-0.3c0,0,0,0,0,0
          c0.1,0,0.2,0,0.3,0l1,0.5c0.4,0.2,0.9,0.1,1.2-0.2l1.4-1.4c0.3-0.3,0.4-0.8,0.2-1.2l-0.5-1c-0.1-0.1-0.1-0.2,0-0.3c0,0,0,0,0,0
          c0-0.1,0.1-0.2,0.3-0.2l1.1-0.4c0.4-0.2,0.7-0.6,0.7-1v-1.9C243.2,15.1,242.9,14.7,242.5,14.6z M241,16.8l-0.3,0.1
          c-0.7,0.2-1.2,0.8-1.5,1.4c0,0,0,0,0,0c-0.3,0.7-0.3,1.4,0.1,2.1l0.2,0.3l-0.3,0.3l-0.3-0.2c-0.6-0.3-1.4-0.3-2.1-0.1c0,0,0,0,0,0
          c-0.7,0.3-1.2,0.8-1.5,1.5l-0.1,0.3h-0.4l-0.1-0.3c-0.2-0.7-0.8-1.2-1.4-1.5c0,0,0,0,0,0c-0.7-0.3-1.4-0.3-2.1,0.1l-0.3,0.2
          l-0.3-0.3l0.2-0.3c0.3-0.7,0.3-1.4,0.1-2.1c0,0,0,0,0,0c-0.3-0.7-0.8-1.2-1.5-1.4l-0.3-0.1v-0.4l0.3-0.1c0.7-0.2,1.2-0.8,1.5-1.4
          c0,0,0,0,0,0c0.3-0.7,0.3-1.4-0.1-2.1l-0.2-0.3l0.3-0.3l0.3,0.2c0.7,0.3,1.4,0.3,2.1,0.1c0.7-0.3,1.2-0.8,1.4-1.5l0.1-0.3h0.4
          l0.1,0.3c0.2,0.7,0.8,1.2,1.4,1.5c0,0,0,0,0,0c0.7,0.3,1.4,0.3,2.1-0.1l0.3-0.2l0.3,0.3l-0.2,0.3c-0.3,0.7-0.3,1.4-0.1,2.1h0
          c0,0,0,0,0,0c0.3,0.7,0.8,1.2,1.5,1.4l0.3,0.1V16.8z"/>
        <path fill="none" stroke="#59B2DE" stroke-miterlimit="10" d="M234.9,12.8c-2.1,0-3.7,1.7-3.7,3.7s1.7,3.7,3.7,3.7
          s3.7-1.7,3.7-3.7S237,12.8,234.9,12.8z M234.9,18.1c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6
          S235.8,18.1,234.9,18.1z"/>
      </g>
    </g>
    <path fill="#289AD6" d="M35.1,78.1h-17c-1.6,0-3-1.4-3-3v-17c0-1.6,1.4-3,3-3h17c1.6,0,3,1.4,3,3v17C38.1,76.8,36.7,78.1,35.1,78.1z
      "/>
    <text transform="matrix(1 0 0 1 11.0896 23.0897)" fill="#43A3D2" font-family="'HelvNeueMediumforIBM'" font-size="15">Columns</text>
    <text transform="matrix(1 0 0 1 12.97 43.6119)" fill="#848484" font-family="'HelvNeueMediumforIBM'" font-size="12">Type</text>
    <text transform="matrix(1 0 0 1 45.4029 71.2239)" fill="#848484" font-family="'HelvNeueMediumforIBM'" font-size="12">A</text>
    <text transform="matrix(1 0 0 1 61.1048 71.2238)" opacity="0.7" fill="#848484" font-family="'HelvNeueMediumforIBM'" font-size="12">Major Airport Cities</text>
  </svg>

  <svg version="1.1" class="right-arrow" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="94.671px" height="94.671px" viewBox="0 0 94.671 94.671" style="enable-background:new 0 0 94.671 94.671;"
   xml:space="preserve">
    <g>
      <path d="M69.38,47.335L26.777,94.671l-1.486-1.338l41.396-45.998L25.291,1.337L26.776,0L69.38,47.335z"/>
    </g>
  </svg>

  <svg version="1.1" class="sentiment" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 1445.7 42.5" enable-background="new 0 0 1445.7 42.5" xml:space="preserve">
    <g>
      <rect x="1350.9" y="11.4" fill="#898989" width="2.3" height="5.7"/>
      <rect x="1354.5" y="5.6" fill="#898989" width="2.3" height="11.6"/>
      <rect x="1358" y="9.1" fill="#898989" width="5.8" height="1.2"/>
      <rect x="1358" y="11.4" fill="#898989" width="5.8" height="1.2"/>
      <rect x="1358" y="13.8" fill="#898989" width="5.8" height="1.2"/>
      <rect x="1358" y="15.9" fill="#898989" width="5.8" height="1.2"/>
      <circle fill="#898989" cx="1369.7" cy="13.6" r="3.5"/>
      <circle fill="#898989" cx="1375.6" cy="7.8" r="2.3"/>
      <circle fill="#898989" cx="1355.4" cy="27.9" r="5.9"/>
      <polygon fill="#FFFFFF" points="1355.7,28.2 1349.5,28.2 1349.5,27.6 1355.1,27.6 1355.1,22 1355.7,22   "/>
      <polygon fill="#898989" points="1364.9,33.8 1364.9,32.5 1370.8,29 1374.8,31.4 1377.9,29 1377.9,33.8   "/>
      <rect x="1366.1" y="26.7" fill="#898989" width="1.2" height="2.3"/>
      <rect x="1368.5" y="23.2" fill="#898989" width="1.2" height="4.7"/>
      <rect x="1370.8" y="22" fill="#898989" width="1.3" height="5.9"/>
      <rect x="1373.2" y="24.3" fill="#898989" width="1.2" height="4.7"/>
      <rect x="1375.6" y="22" fill="#898989" width="1.1" height="5.9"/>
    </g>
    <path fill="#898989" d="M1293.1,33l7.5-10.5l-3.7-4.1l0.8-0.3c0.5-0.2,4.8-1.7,6.8-0.5l4.2-3.9c-0.4-1-0.6-2.7,0.8-4.3l0.4-0.5
      l8.6,9.4l-0.5,0.4c-1.7,1.3-3.4,1-4.3,0.5l-4.2,3.9c1,2-0.9,6.2-1.1,6.7l-0.4,0.8l-3.7-4.1L1293.1,33z M1298.8,18.9l3.2,3.5
      l-4.9,6.9l7.3-4.3l3.2,3.5c0.8-1.9,1.4-4.4,0.7-5.2l-0.4-0.4l5.7-5.2l0.4,0.3c0.1,0,1.3,1,2.8,0.1l-6.8-7.5c-1,1.5-0.1,2.8-0.1,2.8
      l0.3,0.4l-5.7,5.2l-0.4-0.4C1303.4,17.9,1300.8,18.3,1298.8,18.9z"/>
    <rect x="1417.4" y="11.4" fill="#898989" width="19.9" height="2.7"/>
    <rect x="1417.4" y="19.6" fill="#898989" width="19.9" height="2.7"/>
    <rect x="1417.4" y="27.8" fill="#898989" width="19.9" height="2.7"/>
    <circle fill="#898989" cx="1412.6" cy="12.8" r="3"/>
    <circle fill="#898989" cx="1412.5" cy="21" r="3"/>
    <circle fill="#898989" cx="1412.6" cy="29.2" r="3"/>
    <line fill="none" stroke="#898989" stroke-miterlimit="10" x1="1393" y1="5.6" x2="1393" y2="33.8"/>
    <line fill="none" stroke="#898989" stroke-miterlimit="10" x1="1335" y1="7.8" x2="1335" y2="36.1"/>
    <circle fill="#8C8C8C" stroke="#898989" stroke-miterlimit="10" cx="705.9" cy="17.8" r="7.1"/>
    <rect x="655.7" y="9.6" fill="#8C8C8C" stroke="#898989" stroke-miterlimit="10" width="11" height="6.9"/>
    <rect x="655.7" y="19.1" fill="#8C8C8C" stroke="#898989" stroke-miterlimit="10" width="11" height="6.9"/>
    <rect x="642" y="9.6" fill="#8C8C8C" stroke="#898989" stroke-miterlimit="10" width="11" height="6.9"/>
    <rect x="642" y="19.1" fill="#8C8C8C" stroke="#898989" stroke-miterlimit="10" width="11" height="6.9"/>
    <line fill="none" stroke="#898989" stroke-miterlimit="10" x1="728.6" y1="3" x2="728.6" y2="31.3"/>
    <line fill="none" stroke="#898989" stroke-miterlimit="10" x1="682.6" y1="3.3" x2="682.6" y2="31.5"/>
    <line fill="none" stroke="#CDCDCD" stroke-width="2" stroke-miterlimit="10" x1="762.7" y1="36" x2="682.6" y2="36"/>
    <line fill="none" stroke="#CDCDCD" stroke-width="2" stroke-miterlimit="10" x1="762.9" y1="40.3" x2="682.8" y2="40.3"/>
    <polygon fill="none" stroke="#898989" stroke-miterlimit="10" points="15.5,20.5 9.6,14.6 21.4,14.6 "/>
    <rect x="14.9" y="19.8" fill="#898989" width="1.1" height="5"/>
    <text transform="matrix(1 0 0 1 23.8793 24.8499)" fill="#6FB5E2" font-family="'MyriadPro-Regular'" font-size="15">No applied filters</text>
    <text transform="matrix(1 0 0 1 774.6293 23.7986)" fill="#009EEF" font-family="'MyriadPro-Regular'" font-size="15">New</text>
    <circle fill="none" stroke="#009EEF" stroke-miterlimit="10" cx="756.3" cy="17.8" r="9.9"/>
    <rect x="755.4" y="11.8" fill="#009EEF" width="1.8" height="12"/>
    <rect x="750.3" y="16.9" fill="#009EEF" width="12" height="1.8"/>
  </svg>

  <svg version="1.1" class="footer" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 1445.7 42.5" enable-background="new 0 0 1445.7 42.5" xml:space="preserve">
    <rect x="123.4" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="158.7" height="40.7"/>
    <rect x="282.1" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="101.3" height="40.7"/>
    <rect x="383.4" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="111.3" height="40.7"/>
    <rect x="494.8" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="102" height="40.7"/>
    <rect x="596.8" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="130.7" height="40.7"/>
    <rect x="727.4" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="100.7" height="40.7"/>
    <rect x="828.1" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="109.3" height="40.7"/>
    <rect x="937.4" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="141.3" height="40.7"/>
    <rect x="1078.8" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="161.3" height="40.7"/>
    <rect x="1240.1" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="117.9" height="40.7"/>
    <rect x="1358" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="45.9" height="40.7"/>
    <rect x="1404.6" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="39.1" height="40.7"/>
    <rect x="83.3" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="41" height="40.7"/>
    <rect x="43.4" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="39.7" height="40.7"/>
    <rect x="3.8" y="1.1" fill="#E8E8E8" stroke="#B9BBBD" stroke-miterlimit="10" width="40.1" height="40.7"/>
    <text transform="matrix(1 0 0 1 158.475 25.1383)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Population Density</text>
    <text transform="matrix(1 0 0 1 323.8083 25.1387)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Flights</text>
    <text transform="matrix(1 0 0 1 421.475 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Vaccines</text>
    <text transform="matrix(1 0 0 1 533.1417 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Measles</text>
    <text transform="matrix(1 0 0 1 631.4749 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Symptoms</text>
    <text transform="matrix(1 0 0 1 765.4749 25.1387)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Types</text>
    <text transform="matrix(1 0 0 1 867.4749 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Illness</text>
    <text transform="matrix(1 0 0 1 976.9426 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Disney</text>
    <text transform="matrix(1 0 0 1 1118.475 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Mouse</text>
    <text transform="matrix(1 0 0 1 1281.1416 26.138)" fill="#4E4E4E" font-family="'HelvNeueforIBM'" font-size="14">Other</text>
    <circle fill="none" stroke="#777777" stroke-miterlimit="10" cx="144.6" cy="18.1" r="7.1"/>
    <ellipse fill="#676767" cx="144.5" cy="18" rx="4.4" ry="4.6"/>
    <circle fill="#B1B1B1" stroke="#777777" stroke-miterlimit="10" cx="303.1" cy="19.1" r="7.1"/>
    <ellipse fill="#B1B1B1" cx="303" cy="19" rx="4.4" ry="4.6"/>
    <line fill="none" stroke="#B1B1B1" stroke-width="3" stroke-miterlimit="10" x1="107.6" y1="15.4" x2="100" y2="23.1"/>
    <line fill="none" stroke="#B1B1B1" stroke-width="3" stroke-miterlimit="10" x1="99.9" y1="21.3" x2="107.6" y2="28.9"/>
    <line fill="#4E4E4E" stroke="#676767" stroke-width="3" stroke-miterlimit="10" x1="1420.9" y1="16.6" x2="1427.2" y2="23.1"/>
    <line fill="#4E4E4E" stroke="#676767" stroke-width="3" stroke-miterlimit="10" x1="1426.7" y1="21.5" x2="1420.3" y2="27.9"/>
    <polygon fill="#4E4E4E" points="67.5,14.4 71.5,18.5 63.5,18.5 "/>
    <rect x="66.3" y="18.5" fill="#4E4E4E" width="2.4" height="10.2"/>
    <polygon fill="#4E4E4E" points="60.7,28.8 56.7,24.8 64.7,24.8 "/>
    <rect x="59.5" y="14.6" fill="#4E4E4E" width="2.4" height="10.2"/>
    <rect x="27.2" y="22.5" transform="matrix(-0.7256 0.6881 -0.6881 -0.7256 66.6273 25.2316)" fill="#4E4E4E" width="2.2" height="6.8"/>
    <ellipse fill="none" stroke="#4E4E4E" stroke-width="2" stroke-miterlimit="10" cx="22.5" cy="20.5" rx="4.5" ry="4.4"/>
    <polygon fill="#22ACE3" points="411.5,14.1 411.5,24.8 400.6,24.8 "/>
    <rect x="401" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 691.5336 -266.0885)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="523.1,14.1 523.1,24.8 512.2,24.8 "/>
    <rect x="512.6" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 879.2476 -347.6442)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="624.6,14.1 624.6,24.8 613.7,24.8 "/>
    <rect x="614.1" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 1050.0137 -421.8359)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="755.1,14.1 755.1,24.8 744.2,24.8 "/>
    <rect x="744.6" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 1269.5697 -517.226)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="857.4,14.1 857.4,24.8 846.5,24.8 "/>
    <rect x="846.9" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 1441.7373 -592.028)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="966.3,14.1 966.3,24.8 955.4,24.8 "/>
    <rect x="955.8" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 1624.9813 -671.641)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="1107.3,14.1 1107.3,24.8 1096.4,24.8 "/>
    <rect x="1096.8" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 1862.2025 -774.7067)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="1268.3,14.1 1268.3,24.8 1257.4,24.8 "/>
    <rect x="1257.8" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 2133.0728 -892.3904)" fill="#22ACE3" width="5.2" height="13.1"/>
    <polygon fill="#22ACE3" points="1387.4,14.1 1387.4,24.8 1376.5,24.8 "/>
    <rect x="1376.9" y="10.6" transform="matrix(-0.6824 0.731 -0.731 -0.6824 2333.4211 -979.4354)" fill="#22ACE3" width="5.2" height="13.1"/>
    <ellipse fill="#676767" cx="303.1" cy="19.1" rx="4.4" ry="4.6"/>
  </svg>
</div>
