<div class="main-nav main-explore">
</div>
<div class="upgrade-bar upgrade-explore">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
  <g>
    <path fill="#E3E2E2" d="M33.9,59.4c-6.7,0-12.1-5.4-12.1-12.1s5.4-12.1,12.1-12.1c0,0-0.1-9.8,9.3-10c9.5-0.2,9.7,10,9.7,10
      c6.7,1,9.1,5.4,9.1,12.1S56.7,59.4,50,59.4H33.9z"/>
    <path fill="#E3E3E2" d="M42,73.8c-17.4,0-31.5-14.1-31.5-31.5c0-17.4,14.1-31.5,31.5-31.5s31.5,14.1,31.5,31.5
      C73.5,59.7,59.3,73.8,42,73.8z M42,13.4c-16,0-29,13-29,29c0,16,13,29,29,29s29-13,29-29C70.9,26.3,57.9,13.4,42,13.4z"/>
  </g>
  </svg>
  <p>Upgrade Now</p>    
</div>

<div class="suggestion-bar">
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <text transform="matrix(1 0 0 1 44.6779 48.6201)" fill="#858287" font-family="'MyriadPro-Regular'" font-size="48">177</text>
    <g>
      <text transform="matrix(1 0 0 1 44.6775 76.787)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">is the </tspan><tspan x="36.6" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15">total </tspan><tspan x="68.7" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">participant</tspan><tspan x="137.2" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15"> </tspan><tspan x="140.3" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">under </tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">type </tspan><tspan x="31.3" y="18" fill="#5DC1F3" font-family="'MyriadPro-Regular'" font-size="15">B </tspan><tspan x="42.6" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">stress</tspan></text>
    </g>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <rect x="131" y="70.3" fill="#95C120" width="77.7" height="6.3"/>
    <rect x="131" y="55" fill="#5CC1F4" width="89.7" height="6.3"/>
    <text transform="matrix(1 0 0 1 47.6667 61.3333)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">Factor  X</text>
    <text transform="matrix(1 0 0 1 47.6668 78.3333)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">Factor  Y</text>
    <text transform="matrix(1 0 0 1 47.6665 37)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">Factor X over Y</text>
    <text transform="matrix(1 0 0 1 243.3332 61.3333)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">137</text>
    <text transform="matrix(1 0 0 1 242.9998 76.667)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="14">126</text>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <text transform="matrix(1 0 0 1 37 50.5001)" fill="#858287" font-family="'MyriadPro-Regular'" font-size="48">0.00</text>
    <text transform="matrix(1 0 0 1 39 74.1664)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">is the </tspan><tspan x="36.6" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15">lowest</tspan><tspan x="77.8" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15"> complaint number </tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">for </tspan><tspan x="20.7" y="18" fill="#5DC1F3" font-family="'MyriadPro-Regular'" font-size="15">participants</tspan></text>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <rect x="130.2" y="62" fill="#95C120" width="77.7" height="6.3"/>
    <rect x="130.2" y="46.7" fill="#5CC1F4" width="89.7" height="6.3"/>
    <rect x="129.5" y="79.3" fill="#5CC1F4" width="89.7" height="6.3"/>
    <text transform="matrix(1 0 0 1 46.6714 29.6664)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor X over Y</text>
    <text transform="matrix(1 0 0 1 47.671 53.5)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor X</text>
    <text transform="matrix(1 0 0 1 47.671 70.667)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor Y</text>
    <text transform="matrix(1 0 0 1 47.6711 87.0003)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Factor X</text>
    <text transform="matrix(1 0 0 1 242.0043 53.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">137</text>
    <text transform="matrix(1 0 0 1 242.0048 68.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">126</text>
    <text transform="matrix(1 0 0 1 242.0046 87.0004)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">137</text>
  </svg>

  <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 107" enable-background="new 0 0 320 107" xml:space="preserve">
    <rect x="123.8" y="22.7" fill="#5CC1F4" width="42.3" height="60.7"/>
    <rect x="171.5" y="52.7" fill="#95C11F" width="43" height="30"/>
    <rect x="219.8" y="78.8" fill="#5CC1F4" width="43" height="4"/>
    <text transform="matrix(1 0 0 1 42.3381 31.6671)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Participant</tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">reaction </tspan><tspan x="0" y="36" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">rate:</tspan></text>
    <text transform="matrix(1 0 0 1 137.0048 17.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="10">IND</text>
    <text transform="matrix(1 0 0 1 184.0048 48.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="10">DET</text>
    <text transform="matrix(1 0 0 1 232.0048 74.5001)" fill="#444444" font-family="'MyriadPro-Regular'" font-size="10">TEN</text>
    <g>
      <text transform="matrix(1 0 0 1 123.8333 95.6671)" fill="#83857F" font-family="'MyriadPro-Regular'" font-size="12">Highest</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 172.5002 95.6671)" fill="#83857F" font-family="'MyriadPro-Regular'" font-size="12">Median</text>
    </g>
    <g>
      <text transform="matrix(1 0 0 1 220.8336 95.6672)" fill="#83857F" font-family="'MyriadPro-Regular'" font-size="12">Lowest</text>
    </g>
  </svg>

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 120 107" enable-background="new 0 0 120 107" xml:space="preserve">
    <text transform="matrix(1 0 0 1 11.2505 47.9445)" fill="#858287" font-family="'MyriadPro-Regular'" font-size="48">16</text>
    <g>
      <text transform="matrix(1 0 0 1 11.25 76.1114)"><tspan x="0" y="0" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">is the Highest </tspan><tspan x="100" y="0" fill="#5EC1F6" font-family="'MyriadPro-Regular'" font-size="15">Fumble</tspan><tspan x="0" y="18" fill="#444444" font-family="'MyriadPro-Regular'" font-size="15">Chiefs</tspan></text>
    </g>
    <rect x="100" opacity="0.7" fill="#83857F" width="41.1" height="107"/>
    <line fill="none" stroke="#888889" stroke-miterlimit="10" x1="97.1" y1="43.3" x2="103.5" y2="54.6"/>
    <line fill="none" stroke="#888889" stroke-miterlimit="10" x1="95.6" y1="64.5" x2="103.5" y2="54.2"/>
  </svg>
</div>

<div class="explore-main">
  
</div>
