<header class="sma-header"></header>
<div class="sma-wrapper" ng-controller="smaController">

<nav class="sma-nav">
	<ul>
		<li ng-click="setView('sources')">Media Sources</li>
		<li ng-click="setView('dates')">Dates</li>
		<li ng-click="setView('languages')">Languages</li>
		<li ng-click="setView('keywords')" class="curr">Keywords</li>
		<li ng-click="setView('exclusions')">Exclusions</li>
		<hr>
		<li ng-click="setView('overview')">Overview</li>
	</ul>
</nav>



<section class="sma-main">


	<section class="sma-container">

		<div class="sma-workspace">
			<h2 class="ws-title">Media Sources</h2>
			<p class="ws-subtitle">Enrich MeaslesDisneySpread.csv with data from these sources</p>
	
			<div class="source-card" ng-repeat="source in sources | filter:!chosen" ng-click="deselectSource(this)">
				<div class="source-icon"></div>
				<p class="source-name">{{source.title}}</p>
			</div>

		</div>


		<section class="sma-toolbar">

			<h3 class="toolbar-header"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19.8 27" enable-background="new 0 0 19.8 27" xml:space="preserve"> <defs> </defs> <g> <g> <path fill="#343434" d="M9.9,0C4.4,0,0,4.4,0,9.9s4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9S15.4,0,9.9,0z M9.9,18c-4.5,0-8.1-3.6-8.1-8.1 s3.6-8.1,8.1-8.1S18,5.4,18,9.9S14.4,18,9.9,18z"/> <rect x="6.3" y="20.7" fill="#343434" width="7.2" height="3.6"/> <path fill="#343434" d="M9.9,27c1,0,1.8-0.8,1.8-1.8H8.1C8.1,26.2,8.9,27,9.9,27z"/> <path fill="#343434" d="M9.9,16.2l3.6-5.4H6.3L9.9,16.2z M9.9,14.6L8,11.7h3.8L9.9,14.6z"/> </g> </g> </svg></h3>

			<div class="source-card" ng-repeat="source in sources | filter:chosen == false" ng-click="selectSource(this)">
				<div class="source-icon"></div>
				<p class="source-name">{{source.title}}</p>
			</div>

		</section>

	</section>



	<section class="sma-container">

		<div class="sma-workspace">
			<h2 class="ws-title">Dates</h2>
			<p class="ws-subtitle">Search social media</p>
			<form class="dateForm">
				<div>
					<label style="line-height: 2">Start Date</label>
					<input type="text" value="12/20/2014">
				</div>
				<div>
					<label style="line-height: 2">End Date</label>
					<input type="text" value="02/25/2015">
				</div>
				<div>
					<label style="line-height: 2">Time of Day</label>
					<input type="text" value="All Day">
					<label><input type="checkbox"><small>scrape once</small></label>
				</div>
				<span style="visibility: hidden;">x</span>
			</form>

			<form class="dateForm">
				<div>
					<label></label>
					<input type="text">
				</div>
				<div>
					<label></label>
					<input type="text">
				</div>
				<div>
					<label></label>
					<input type="text">
					<label><input type="checkbox"><small>scrape once</small></label>
				</div>
				<span style="line-height: 2">x</span>
			</form>

			<p style="margin: 0; font-size: 1.5em">+</p>

		</div>

		<section class="sma-toolbar"></section>

	</section>




	<section class="sma-container">

		<div class="sma-workspace">
			<h2 class="ws-title">Languages</h2>
			<p class="ws-subtitle">Limit search to these languages</p>

			<span class="tag" ng-repeat="language in languages | filter:!chosen" ng-click="deselectLanguage(this)">{{language.title}}</span>

		</div>

		<section class="sma-toolbar">
			<h3 class="toolbar-header"><svg class="hide" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19.8 27" enable-background="new 0 0 19.8 27" xml:space="preserve"> <defs> </defs> <g> <g> <path fill="#343434" d="M9.9,0C4.4,0,0,4.4,0,9.9s4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9S15.4,0,9.9,0z M9.9,18c-4.5,0-8.1-3.6-8.1-8.1 s3.6-8.1,8.1-8.1S18,5.4,18,9.9S14.4,18,9.9,18z"/> <rect x="6.3" y="20.7" fill="#343434" width="7.2" height="3.6"/> <path fill="#343434" d="M9.9,27c1,0,1.8-0.8,1.8-1.8H8.1C8.1,26.2,8.9,27,9.9,27z"/> <path fill="#343434" d="M9.9,16.2l3.6-5.4H6.3L9.9,16.2z M9.9,14.6L8,11.7h3.8L9.9,14.6z"/> </g> </g> </svg></h3>
			<p class="toolbar-prompt">Select from these languages.</p>
			<span class="tag" ng-repeat="language in languages | filter:chosen == false" ng-click="selectLanguage(this)">{{language.title}}</span>
		</section>

	</section>


	<section class="sma-container">
		
		<div class="sma-workspace">
			<h2 class="ws-title">Keywords</h2>
			<p class="ws-subtitle">Search using keywords to help augment Social Media data. Fine tun your results by choosing and adding terms that work best for your query.</p>
			<form class="addForm" ng-submit="addKeywords()">
				<input id="keywordAdder" type="text" ng-model="newKeywords" ng-list>
				<button type="submit">Submit</button>
			</form>
			<span ng-repeat="keyword in keywords" ng-click="deleteKeyword(this)" class="tag {{keyword.source}}">{{keyword.text}}</span>
		</div>

		<section class="sma-toolbar">
			<h3 class="toolbar-header"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19.8 27" enable-background="new 0 0 19.8 27" xml:space="preserve"> <defs> </defs> <g> <g> <path fill="#343434" d="M9.9,0C4.4,0,0,4.4,0,9.9s4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9S15.4,0,9.9,0z M9.9,18c-4.5,0-8.1-3.6-8.1-8.1 s3.6-8.1,8.1-8.1S18,5.4,18,9.9S14.4,18,9.9,18z"/> <rect x="6.3" y="20.7" fill="#343434" width="7.2" height="3.6"/> <path fill="#343434" d="M9.9,27c1,0,1.8-0.8,1.8-1.8H8.1C8.1,26.2,8.9,27,9.9,27z"/> <path fill="#343434" d="M9.9,16.2l3.6-5.4H6.3L9.9,16.2z M9.9,14.6L8,11.7h3.8L9.9,14.6z"/> </g> </g> </svg></h3>
			<p class="toolbar-prompt">Watson Anaylitics has scraped the internet for you and found these terms we think might help...</p>
			<span class="tag" ng-repeat="keyword in suggestedKeywords" ng-click="chooseKeyword(keyword)">{{keyword.text}}</span>
		</section>

	</section>



	<section class="sma-container">
		
		<div class="sma-workspace">
			<h2 class="ws-title">Exclusions</h2>
			<p class="ws-subtitle">Exclude these words and hashtags from search</p>
			<form class="addForm" ng-submit="addExclusions()">
				<input id="exclusionAdder" type="text" ng-model="newExclusions" ng-list>
				<button type="submit">Submit</button>
			</form>
			<span ng-repeat="exclusion in exclusions" ng-click="deleteExclusion(this)" class="tag {{exclusion.source}}">{{exclusion.text}}</span>
			<hr style="visibility: hidden; clear: both">
			<a class="big-button">Run Analysis</a>

		</div>

		<section class="sma-toolbar" style="padding-bottom: 24em;">
			<h3 class="toolbar-header"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19.8 27" enable-background="new 0 0 19.8 27" xml:space="preserve"> <defs> </defs> <g> <g> <path fill="#343434" d="M9.9,0C4.4,0,0,4.4,0,9.9s4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9S15.4,0,9.9,0z M9.9,18c-4.5,0-8.1-3.6-8.1-8.1 s3.6-8.1,8.1-8.1S18,5.4,18,9.9S14.4,18,9.9,18z"/> <rect x="6.3" y="20.7" fill="#343434" width="7.2" height="3.6"/> <path fill="#343434" d="M9.9,27c1,0,1.8-0.8,1.8-1.8H8.1C8.1,26.2,8.9,27,9.9,27z"/> <path fill="#343434" d="M9.9,16.2l3.6-5.4H6.3L9.9,16.2z M9.9,14.6L8,11.7h3.8L9.9,14.6z"/> </g> </g> </svg></h3>
			<span class="tag" ng-repeat="exclusion in suggestedExclusions" ng-click="chooseExclusion(exclusion)">{{exclusion.text}}</span>
		</section>

	</section>


</section>

</div>