.main-explore svg {
    width: 40px;
    margin-top: 3px;
}

.gray-bar {
    width: 100%;
    height: 50px;
    margin-top: 101px;
    background: #E9E9E9;
}

.gray-bar svg {
    float: right;
    height: 45px;   
    margin-right: 1.5em;
}

.assemble-svg {
    margin-top: 151px;
}

.assemble-svg svg {
    height: 540px;
    position: fixed;
    display: block;
    bottom: 0;
    margin: 0 auto;
}

