.gray-bar {
    width: 100%;
    height: 50px;
    margin-top: 101px;
    background: #E9E9E9;
}

.gray-bar svg {
    float: right;
    height: 45px;   
    margin-right: 1.5em;
}

.assemble-svg {
    margin-top: 151px;
}

.assemble-svg svg {
    height: 560px;
    position: fixed;
    bottom: 0;
}

