.main-explore {
}

.main-explore div {
  height: 51px;
  width: 30%;
  display: inline;
}

.main-explore div svg {
  height: 45px;
  margin-left: 10px;
}

.left-explore {
  margin-left: 60px;
}

.center-explore {
  line-height: 51px;
  color: #fff;
}

.right-explore {
  line-height: 51px;
  color: #fff;
}

.upgrade-explore {

}

.suggestion-bar {
  margin-top: 101px;
  border-bottom: 2px solid #E0E0E0;
}

.suggestion-bar svg {
  width: 18%;
  height: 115px;
  border-right: 1px solid #929497;
}

.suggestion-bar svg:nth-child(1) {
  // margin-left: 15px;
}

.suggestion-bar svg:nth-child(6) {
  width: 8%;
}

.explore-main {
  width: 100%;
}

.explore-main h3 {
  font-weight: 400;
  color: #616875;
  text-align: center;
}

.explore-main svg.graph {
  height: 400px;
  margin-left: 75px;

}

.explore-main svg.side-explore {
  height: 400px;
  margin-top: 3%;
}

.explore-main svg.right-arrow {
  margin-top: 10%;
  height: 40px;
}

.explore-main svg.sentiment {
  height: 42px;
}

.explore-main svg.footer {
  height: 43px;
  margin-left: -6px;
}