.main-explore {

}

.upgrade-explore {

}

.suggestion-bar {
  margin-top: 101px;
  border-bottom: 1px solid black;
}

.suggestion-bar svg {
  width: 18%;
  height: 130px;
}

.suggestion-bar svg:nth-child(1) {
  margin-left: -25px;
}

.suggestion-bar svg:nth-child(6) {
  width: 8%;
}