@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400);
html {
  box-sizing: border-box;
  position: relative;
  overflow: auto; }

*, *:before, *:after {
  box-sizing: inherit;
  position: inherit;
  overflow: inherit; }

body {
  margin: 0;
  background: #FFFFFF;
  font: 100% 'Roboto';
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.main-nav {
  background: #464646;
  position: fixed;
  width: 100%;
  height: 51px;
  z-index: 100; }

.workspace {
  flex: 1;
  background: #FFFFFF;
  display: flex;
  flex-direction: column; }

.main-nav.welcome {
  position: inherit;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }

.col-left-welcome {
  color: white;
  font-size: 1.2em;
  line-height: 60px;
  float: left;
  width: 33%; }

.col-center-welcome {
  color: white;
  font-size: 1.2em;
  line-height: 51px;
  float: left;
  width: 33%; }

.col-right-welcome {
  color: white;
  font-size: 1.2em;
  line-height: 51px;
  float: left;
  width: 32%;
  padding-left: 9%; }

.main-nav.welcome div svg {
  fill: white;
  width: 40px;
  height: 51px; }

.main-nav.welcome div span {
  color: #FFFFFF;
  font-size: 1.2em;
  line-height: 60px;
  margin-left: .5em; }

.icon-svg {
  z-index: 1000; }

div.right-welcome {
  background: red;
  height: 51px;
  width: 25%;
  margin-left: 75%; }

.welcome-container {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #EFEFEF;
  box-sizing: border-box;
  overflow: hidden; }

.welcome-graphic svg {
  height: 450%;
  margin-top: 72px; }

header {
  overflow: hidden;
  width: 100%;
  height: 72px;
  background: #FFFFFF;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 51px; }

.divider {
  display: inline-block;
  width: 1px;
  height: 48px;
  margin: 12px 0;
  background-color: #e9e9e9; }

.left, .center, .right {
  position: static; }

.left {
  width: 40%;
  float: left;
  height: 4.5em;
  float: left;
  padding-left: 16px;
  color: #666666;
  line-height: 4.5em;
  font-size: 18px; }

.left-search {
  margin-left: 0.5em;
  width: 60%;
  font-size: 18px;
  color: #666666;
  border: none; }

.left-search:focus {
  outline: none; }

.center {
  height: 4.5em;
  float: left;
  width: 20%;
  padding-left: 16px;
  text-align: center;
  color: #666666;
  line-height: 4.5em;
  font-size: 18px; }

svg {
  display: inline-block;
  vertical-align: top;
  height: 72px;
  line-height: 72px;
  margin: auto;
  cursor: pointer; }

.add, .filter, .sort {
  padding-left: 1em;
  cursor: pointer; }

.right {
  width: 40%;
  height: 4.5em;
  float: left;
  padding-left: 16px;
  text-align: center;
  color: #666666;
  line-height: 4.5em;
  font-size: 18px; }

.filter-svg {
  margin-left: 11em; }

.filter {
  margin-right: 3em; }

.add-menu {
  display: none;
  width: 356px;
  height: 371px;
  z-index: 10;
  background: white; }

.mobile-menu {
  display: none; }

.welcome-main {
  padding: 1em 3em;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }

.welcome-box {
  width: 230px;
  height: 320px;
  float: left;
  padding: 0.5em; }

.welcome-box-container {
  width: 1155px;
  margin: 0 auto; }

.image {
  height: 45%;
  width: 100%;
  background: #CCCCCC; }

.content {
  height: 55%;
  width: 100%;
  background: #FFFFFF;
  padding: 0 1em; }

.content .title {
  font-size: 1em;
  color: #616875;
  margin-bottom: 0;
  margin-top: 1em;
  height: 45px; }

.content .title h2 {
  font-weight: 400;
  display: inline; }

svg.title-dots {
  display: inline;
  height: 16px;
  margin-top: 0.5em;
  position: absolute;
  right: 0; }

.content .description {
  margin-bottom: 1.5em;
  color: #616875; }

.content .date {
  color: #929497; }

span.sma-overlay {
  display: block;
  width: 94%;
  height: 95%;
  position: absolute;
  top: 8px;
  left: 8px;
  background: #FFFFFF;
  padding: 0.5em;
  z-index: 10; }

@media screen and (max-width: 1260px) {
  .welcome-box-container {
    width: 930px; } }

@media screen and (max-width: 1020px) {
  .welcome-box-container {
    width: 700px; }
  .welcome-main {
    margin-top: 12%; } }

@media screen and (max-width: 790px) {
  .welcome-box-container {
    width: 470px; }
  .mobile-menu {
    display: inline-block; }
  .welcome-main {
    margin-top: 15%; } }

@media screen and (max-width: 560px) {
  .welcome-box-container {
    width: 230px; }
  .welcome-main {
    margin-top: 21%; } }

.menu-button {
  height: 51px;
  width: 56px;
  background: #66B038; }

span.three-bar {
  color: white;
  font-size: 2em;
  margin: 0 auto;
  line-height: 51px;
  margin-left: 14px; }

.main-nav-center {
  width: 100%;
  text-align: center;
  line-height: 51px;
  font-size: 1.2em;
  color: #C7C7C7; }

.main-nav-center span {
  color: #DDDDDD;
  font-size: 1.5em;
  padding-left: 10px;
  cursor: pointer; }

.predict-svg {
  height: 51px;
  line-height: 51px;
  left: 39%; }

.upgrade-bar {
  width: 100%;
  position: fixed;
  top: 51px;
  height: 50px;
  background: #4F7B34;
  z-index: 100; }

.upgrade-bar svg {
  height: 45px;
  margin: 3px;
  right: 10%; }

.upgrade-bar p {
  right: 3%;
  color: #DDDDDD; }

.insight-bar {
  background: #C7C7C7;
  box-shadow: 0 0 6px 1px #C7C7C7;
  display: flex;
  flex-direction: row;
  margin-top: 101px; }

.insight-card {
  width: 25%;
  margin: 1px;
  padding: 1em;
  background: #FFFFFF;
  color: #5A5A5A;
  height: 140px; }

.insight-title {
  font-size: 1em;
  margin: 0 0 .5em; }

.insight-description {
  color: #777677;
  font-weight: 300;
  font-size: .875em;
  min-height: 3em;
  margin: 0;
  width: 70%;
  display: inline;
  float: left;
  padding: 2px; }

.insight-icon {
  width: 30%;
  min-height: 3em;
  float: right; }

.insight-icon img {
  width: 70%;
  margin-left: 25%; }

.insight-action {
  font-size: .875em;
  margin: 0;
  color: #5AAAFA;
  clear: both;
  padding-top: 10px; }

.sm-menu {
  width: 15%;
  display: inline-block;
  float: left;
  margin-top: 10%; }

.sm-menu svg {
  height: 175px;
  margin-left: 10px; }

.spiral1 {
  width: 40%;
  display: inline-block;
  float: left; }

.spiral2 {
  width: 5%;
  display: inline-block;
  float: left; }

.spiral1 svg {
  width: 400px;
  height: 500px;
  margin-left: 15%;
  margin-top: -5%; }

.spiral2 svg.spiral {
  margin-left: -13%;
  height: 300px;
  margin-top: 0;
  margin-left: 1%; }

.spiral2 svg.pin {
  height: 40px;
  margin-top: 30%;
  margin-left: 10%; }

.lg-menu {
  width: 40%;
  display: inline-block;
  float: right; }

.lg-menu p:nth-child(2) {
  float: right;
  color: #3F9DD5;
  padding-right: 5%;
  margin: 0; }

.lg-menu svg {
  height: 325px; }

svg.arrow {
  height: 30px;
  margin: 0 37%; }

.predict-footer {
  margin-left: -3px; }

.predict-footer svg {
  width: 100%;
  position: fixed;
  bottom: 0; }

.viz-main {
  flex: 1; }

.viz-main h3 {
  text-align: center; }

.viz-select {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none; }
  .viz-select li {
    font-size: .875em;
    padding: .75em 1.25em;
    color: #5A5A5A;
    background: #E0E0E0;
    border: 1px solid #AEAEAE; }

.main-explore div {
  height: 51px;
  width: 30%;
  display: inline; }

.main-explore div svg {
  height: 45px;
  margin-left: 10px; }

.left-explore {
  margin-left: 60px; }

.center-explore {
  line-height: 51px;
  color: #fff; }

.right-explore {
  line-height: 51px;
  color: #fff; }

.suggestion-bar {
  margin-top: 101px;
  border-bottom: 2px solid #E0E0E0; }

.suggestion-bar svg {
  width: 18%;
  height: 110px;
  border-right: 1px solid #929497; }

.suggestion-bar svg:nth-child(1) {
  margin-left: 15px; }

.suggestion-bar svg:nth-child(6) {
  width: 8%; }

.explore-main {
  width: 100%; }

.explore-main h3 {
  font-weight: 400;
  color: #616875;
  text-align: center; }

.explore-main svg.graph {
  height: 600px;
  margin-left: 75px; }

.explore-main svg.side-explore {
  height: 400px;
  margin-top: 3%; }

.explore-main svg.right-arrow {
  margin-top: 10%;
  height: 40px; }

.explore-main svg.sentiment {
  height: 56px; }

.explore-main svg.footer {
  height: 57px;
  margin-left: -6px; }

.sma-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.sma-nav {
  background: #008571;
  color: #FFFFFF; }
  .sma-nav ul {
    margin: 2.5em 0 0;
    padding: 0; }
  .sma-nav li {
    font-weight: 300;
    padding: .4em 2em .4em 2.5em;
    margin: 0;
    min-width: 16em;
    cursor: pointer; }
    .sma-nav li.curr {
      background: #006D5D; }
  .sma-nav hr {
    border: none;
    height: 1px;
    background: #EED2FF;
    margin: .5em 1em; }

.sma-main {
  flex: 1; }

.sma-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.sma-workspace {
  flex: 1;
  padding: 2.5em 2.5em 0; }

.ws-title {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 .5em;
  border-bottom: 1px solid; }

.ws-subtitle {
  font-size: 1em;
  color: #464646;
  font-weight: 300;
  margin: 0 0 1.5em;
  line-height: 1.6; }

.source-card {
  float: left;
  margin: 0 2em 2em 0; }

.source-icon {
  width: 6.5em;
  height: 6.5em;
  background: #734098; }

.source-name {
  font-weight: 300;
  color: #5A5A5A;
  margin: .5em 0 0; }

.addForm {
  margin: 0 0 2em;
  display: flex;
  flex-direction: row;
  width: 100%; }
  .addForm input {
    flex: 1;
    border: 1px solid #777677;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
    padding: 0 1em;
    font-family: inherit; }
    .addForm input:focus {
      outline: none;
      background: #E0E0E0; }
  .addForm button {
    background: #008571;
    border-radius: 0 5px 5px 0;
    border: none;
    font-size: 1em;
    font-weight: 300;
    font-family: inherit;
    padding: 0 1em;
    color: #FFFFFF; }
    .addForm button:hover {
      outline: none;
      background: #006D5D; }
    .addForm button:focus {
      outline: none; }

.tag {
  display: inline-block;
  color: #5A5A5A;
  border: 2px solid #777677;
  font-weight: 300;
  padding: .425em .75em;
  margin: 0 .75em .75em 0;
  border-radius: 5px; }

.tag.watson {
  color: #FFFFFF;
  background: #008571;
  border: 2px solid #008571; }

.tag::after {
  content: 'x';
  vertical-align: top;
  margin: 0 0 0 .75em; }

.sma-toolbar {
  width: 25em;
  padding: 1.5em 2em 0;
  background: #C7C7C7; }

.toolbar-header {
  font-size: 1.5em;
  font-weight: 300;
  color: #464646; }

.sma-toolbar .tag {
  color: #FFFFFF;
  background: #008571;
  border: none; }

.sma-toolbar .tag::after {
  content: '+'; }

.gray-bar {
  width: 100%;
  height: 50px;
  margin-top: 101px;
  background: #E9E9E9; }

.gray-bar svg {
  float: right;
  height: 45px;
  margin-right: 1.5em; }

.assemble-svg {
  margin-top: 151px; }

.assemble-svg svg {
  height: 540px;
  position: fixed;
  display: block;
  bottom: 0;
  margin: 0 auto; }
