html {
  box-sizing: border-box;
  position: relative;
  overflow: auto; }

*, *:before, *:after {
  box-sizing: inherit;
  position: inherit;
  overflow: inherit; }

body {
  margin: 0;
  background: #FFFFFF;
  font: 100% 'Helvetica';
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.main-nav {
  background: #464646; }

.workspace {
  flex: 1;
  background: #5596E6; }

.welcome-container {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: red;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 4.5em;
  background: #FFFFFF; }

.left, .center, .right {
  height: 4.5em;
  width: 33.33333%;
  border: 1px solid black;
  float: left; }

.main {
  padding: 1em 3em;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }

.box {
  width: 20%;
  height: 20em;
  float: left;
  padding: 0.5em;
  border: 1px solid black;
  box-sizing: border-box; }

.image {
  height: 45%;
  width: 100%;
  background: gray; }

.content {
  height: 55%;
  width: 100%;
  background: #FFFFFF;
  padding: 0 1em; }
