.menu-button {
	height: 51px;
	width: 56px;
	// background-color: rgba(103, 181, 27, 0.952941);
	background: #66B038;
}

span.three-bar {
	color: white;
	font-size: 2em;
	margin: 0 auto;
	line-height: 51px;
	margin-left: 14px;
}

.main-nav-center {
	width: 100%;
	text-align: center;
	line-height: 51px;
	font-size: 1.2em;
	color: color('gray', 20);
}

.main-nav-center span {
	color: #DDDDDD;
	font-size: 1.5em;
	padding-left: 10px;
	cursor: pointer;
}

.predict-svg {
	height: 51px;
	line-height: 51px;
	left: 39%;
}

.upgrade-bar {
	width: 100%;
	position: fixed;
	top: 51px;
	height: 50px;
	background: #4F7B34;
	z-index: 100;
}

.insight-bar{
	background: color('gray', 20);
	box-shadow: 0 0 6px 1px color('gray', 20);
	display: flex;
	flex-direction: row;
	margin-top: 101px;
}

.insight-card{
	width: 25%;
	margin: 1px;
	padding: 1em;
	background: color('white');
	color: color('gray', 60);
	height: 140px;
}

.insight-title{
	font-size: 1em;
	margin: 0 0 .5em;
}

.insight-description{
	color: color('gray', 50);
	font-weight: 300;
	font-size: .875em;
	min-height: 3em;
	margin: 0;
	width: 70%;
	display: inline;
	float: left;
	padding: 2px;
}

.insight-icon {
	width: 30%;
	min-height: 3em;
	float: right;
	// background: red;
}

.insight-icon img {
	width: 70%;
	margin-left: 25%;
}

.insight-action{
	font-size: .875em;
	margin: 0;
	color: color('blue', 30);
	clear: both;
	padding-top: 10px;

}

// .viz-main {
// 	overflow: hidden;
// }

.sm-menu {
	width: 15%;
	display: inline-block;
	float: left;
	margin-top: 10%;
}

.sm-menu svg {
	height: 175px;
	margin-left: 10px;
}

.spiral1 {
	width: 40%;
	display: inline-block;
	float: left;
}

.spiral2 {
	width: 5%;
	display: inline-block;
	float: left;
}

.spiral1 svg {
	width: 400px;
	height: 500px;
	margin-left: 15%;
	margin-top: -5%;
}

.spiral2 svg.spiral {
	margin-left: -13%;
	height: 300px;
	margin-top: 0;
	margin-left: 1%;
}

.spiral2 svg.pin {
	// margin-left: -13%;
	height: 40px;
	margin-top: 30%;
	margin-left: 10%;
}

.lg-menu {
	width: 40%;
	display: inline-block;
	float: right;
}

.lg-menu p:nth-child(2) {
	float: right;
	color: #3F9DD5;
	padding-right: 5%;
	margin: 0;
}

.lg-menu svg {
	height: 325px;
	// margin-top: 10%;	
}

svg.arrow {
	height: 30px;
	margin: 0 37%;
}

.predict-footer {
	margin-left: -3px;
}

.predict-footer svg {
	width: 100%;
	position: fixed;
	bottom: 0;
}


.viz-main{
	flex: 1;
}

.viz-main h3 {
 	text-align: center;
}

.viz-select{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
	li{
		font-size: .875em;
		padding: .75em 1.25em;
		color: color('gray', 60);
		background: color('gray', 10);
		border: 1px solid color('gray', 30);
	}


}