.sma-header{
	height: 2.5em;
	position: fixed;
	top: 0;
	width: 100%;
	background: color('gray', 70);
}

.sma-wrapper{
	margin-top: 2.5em;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.sma-nav{
	background: color('teal', 50);
	color: color('white');
	ul{
		margin: 2.5em 0 0;
		padding: 0;
	}
	li{
		font-weight: 300;
		padding: .4em 2em .4em 2.5em;
		margin: 0;
		min-width: 16em;
		cursor: pointer;
		&.curr{
			background: color('teal', 60);
		}
	}
	hr{
		border: none;
		height: 1px;
		background: color('teal', 60);
		margin: .5em 1em;
	}
}

.sma-main{
	flex: 1;
}

.sma-container{
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.sma-workspace{
	flex: 1;
	padding: 2.5em 2.5em 0;
}
.ws-title{
	font-size: 2em;
	font-weight: 300;
	margin: 1em 0 .5em;
	border-bottom: 1px solid;
}
.ws-subtitle{
	font-size: 1em;
	color: color('gray', 70);
	font-weight: 300;
	margin: 0 0 1.5em;
	line-height: 1.6;
}

.source-card{
	float: left;
	margin: 0 2em 2em 0;
}
.source-icon{
	width: 6.5em;
	height: 6.5em;
	background: color('teal', 60);
}
.sma-toolbar .source-icon{
	width: 4.5em;
	height: 4.5em;
	background: color('teal', 40);
}
.source-name{
	font-weight: 300;
	color: color('gray', 60);
	margin: .5em 0 0;
}

.dateForm{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 0 .5em;
	label{
		
	}
	input{
		flex: 1;
		border: 1px solid color('gray', 50);
		border-radius: 5px;
		font-size: 1em;
		width: 100%;
		padding: 0 1em;
		font-family: inherit;
		&:focus{
			outline: none;
			background: color('gray', 10);
		}
	}
	[type="checkbox"]{
		display: inline;
		flex: 0;
		width: auto;
	}
	small{
		display: inline;
	}
	div{
		width: 30%;
	}
}

.addForm{
	margin: 0 0 2em;
	display: flex;
	flex-direction: row;
	width: 100%;
	input{
		flex: 1;
		border: 1px solid color('gray', 50);
		border-radius: 5px 0 0 5px;
		font-size: 1em;
		padding: 0 1em;
		font-family: inherit;
		&:focus{
			outline: none;
			background: color('gray', 10);
		}
	}
	button{
		background: color('teal', 50);
		border-radius: 0 5px 5px 0;
		border: none;
		font-size: 1em;
		font-weight: 300;
		font-family: inherit;
		padding: 0 1em;
		color: color('white');
		&:hover{
			outline: none;
			background: color('teal', 60);
		}
		&:focus{
			outline: none;
		}
	}
}

.tag{
	display: block;
	float: left;
	font-weight: 300;
	padding: .25em .75em;
	margin: 0 .75em .75em 0;
	border-radius: 5px;
	color: color('gray', 60);
	border: 1px solid color('gray', 50);
}
.tag.user{
	color: color('white');
	background: color('teal', 50);
	border: 2px solid color('teal', 50);
}
.tag::after{
	content: 'x';
	vertical-align: top;
	margin: 0 0 0 .75em;
}



.sma-toolbar{
	width: 25em;
	padding: 1.5em 2em 0;
	background: #f0f2f3;
	border-left: 1px solid color('gray', 10);
}

.toolbar-header{
	font-size: 1em;
	font-weight: 300;
	color: color('gray', 70);
	border-bottom: 1px solid color('gray', 80);
	padding: 0;
	margin: 59px 0 1em;
	svg{
		height: 1.5em;
		margin: 0 0 .25em;
	}
	.hide{
		visibility: hidden;
	}
}
.toolbar-prompt{
	font-size: .875em;
	line-height: 1.4;
	font-weight: 300;
	color: color('gray', 70)
}

.sma-toolbar .tag::after{
	content: '+';
}

.big-button{
	background: color('teal', 50);
	color: color('white');
	display: inline-block;
	clear: both;
	margin: 4em 0 0;
	padding: .5em 1em;
	width: inherit;
	border-radius: 5px;
}