<div class="welcome-container">

  <header>
    <div class="mobile-menu">
      
    </div>
    <div class="left">
      <svg class="wah-toolbar-center" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"> <g> <path fill="#0B9BDB" d="M12,1C5.9,1,1,5.9,1,12s4.9,11,11,11s11-4.9,11-11S18.1,1,12,1z M12,21c-5,0-9-4-9-9s4-9,9-9s9,4,9,9 S17,21,12,21z"></path> <rect x="23.9" y="21.1" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 62.7698 26.0001)" fill="#0B9BDB" width="4.2" height="9.9"></rect> <circle fill="#0B9BDB" cx="21" cy="21" r="1"></circle> </g> </svg>
      <input type="text" class="left-search" ng-model="assetSearch" placeholder="Type in keywords to find assets">
    </div>
    <div class="divider"></div>
    <div class="center">
      <svg class="add-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"> <path fill="#0B9BDB" d="M16,3c7.2,0,13,5.8,13,13s-5.8,13-13,13S3,23.2,3,16S8.8,3,16,3 M16,1C7.7,1,1,7.7,1,16s6.7,15,15,15 s15-6.7,15-15S24.3,1,16,1L16,1z"></path> <polygon fill="#0B9BDB" points="23,15 17,15 17,9 15,9 15,15 9,15 9,17 15,17 15,23 17,23 17,17 23,17 "></polygon> </svg>
      <span class="add">Add</span>
    </div>
    <div class="divider"></div>
    <div class="right">
      <svg class="filter-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"> <path fill="#0B9BDB" d="M1,1v4l12,12v14l6-6v-1v-2.4V17L31,5V1H1z M17,16.2v8l-2,2v-10L3.8,5h24.3L17,16.2z"></path> </svg>
      <span class="filter">Filter</span>
      <svg class="sort-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"> <g> <rect x="1" y="8" fill="#0B9BDB" width="18" height="2"></rect> <rect x="1" y="15" fill="#0B9BDB" width="14" height="2"></rect> <rect x="1" y="22" fill="#0B9BDB" width="10" height="2"></rect> <polygon fill="#0B9BDB" points="30,20 23,27 23,1 21,1 21,27 14,20 13,22 22,31 31,22     "></polygon> </g> </svg>
      <span class="sort">Sort</span>
    </div>
  </header>

  <div class="welcome-main">

    <div class="add-menu">
      <div class="top"></div>
      <hr>
      <div class="bottom"></div>
    </div>
    <div class="filter-menu">
      <ul>
        <li>All</li>
        <li>Data sets</li>
        <li>Explorations</li>
        <li>Predictions</li>
        <li>Views</li>
        <li>Tutorials and Samples</li>
      </ul>
    </div>
    <div class="sort-menu">
      <ul>
        <li>A-Z</li>
        <li>Last Modified</li>
        <li>Created</li>
      </ul>
    </div>


    <div class="welcome-box-container">

      <assetcard ng-repeat="asset in assets | filter:assetSearch"></assetcard>

    </div>
  </div>
</div>